doctype html
html
  head
    title 
    meta(charset="utf-8")
    meta(name="description",content="")
    meta(name="keywords",content="")
    link(rel="stylesheet", href="bootstrap/dist/css/bootstrap.min.css")
    link(rel="stylesheet", href="bootstrap/dist/css/bootstrap-theme.min.css")
    style.
      #wrapper {
          padding-left: 0;
          -webkit-transition: all 0.5s ease;
          -moz-transition: all 0.5s ease;
          -o-transition: all 0.5s ease;
          transition: all 0.5s ease;
      }

      #wrapper.toggled {
          padding-left: 250px;
      }

      #sidebar-wrapper {
          z-index: 1000;
          position: fixed;
          left: 250px;
          width: 0;
          height: 100%;
          margin-left: -250px;
          overflow-y: auto;
          margin-top: -20px;
          -webkit-transition: all 0.5s ease;
          -moz-transition: all 0.5s ease;
          -o-transition: all 0.5s ease;
          transition: all 0.5s ease;
      }

      #wrapper.toggled #sidebar-wrapper {
          width: 250px;
      }

      #page-content-wrapper {
          width: 100%;
          position: absolute;
          padding: 15px;
      }

      #wrapper.toggled #page-content-wrapper {
          position: absolute;
          margin-right: -250px;
      }

      /* Sidebar Styles */

      .sidebar-nav {
          position: absolute;
          top: 0;
          width: 250px;
          margin: 0;
          padding: 0;
          list-style: none;
      }

      .sidebar-nav li {
          text-indent: 20px;
          line-height: 40px;
      }

      .sidebar-nav li a {
          display: block;
          text-decoration: none;
      }

      .sidebar-nav li a:hover {
          text-decoration: none;
      }

      .sidebar-nav li a:active,
      .sidebar-nav li a:focus {
          text-decoration: none;
      }

      .sidebar-nav > .sidebar-brand {
          height: 65px;
          font-size: 18px;
          line-height: 60px;
      }

      .sidebar-nav > .sidebar-brand a:hover {
          background: none;
      }

      @media(min-width:768px) {
          #wrapper {
              padding-left: 250px;
          }

          #wrapper.toggled {
              padding-left: 0;
          }

          #sidebar-wrapper {
              width: 250px;
          }

          #wrapper.toggled #sidebar-wrapper {
              width: 0;
          }

          #page-content-wrapper {
              padding: 20px;
              position: relative;
          }

          #wrapper.toggled #page-content-wrapper {
              position: relative;
              margin-right: 0;
          }
      }
  body
    nav.navbar.navbar-default
      div.container-fluid
        div.collapse.navbar-collapse
          form.navbar-form.navbar-left
            div.form-group
              input(type="text", placeholder="Search channel", id="commandChannel").form-control
          form.navbar-form.navbar-left
            div.form-group
              input(type="text", placeholder="Search command", id="commandSearch").form-control
          ul.nav.navbar-nav
            li
              a(data-toggle="modal", data-target="#screenModal")
                |Print Screen
            li
              a(data-toggle="modal", data-target="#liveModal")
                |Live Screen
            li
              p.navbar-text
                | Volume: 
            li
              div.form-group
                div#volume.progress(style="width: 150px;margin-top: 10px;")
                  div.progress-bar(role="progressbar", aria-valuenow="0", aria-valuemax="100", aria-valuemin="0", style="width: 0%;")
                    | 0%
            li
              p#channel.navbar-text
                | Channel: 
          
    div#wrapper
      div#sidebar-wrapper
        ul.sidebar-nav
      div.page-content-wrapper
        div.container-fluid
          div.row
            div.col-md-8.col-md-offset-2
              ul.list-group.row#cmds
                each key in Object.keys(cmds)
                  li.list-group-item.col-xs-3.btn.btn-link(data-cmd=cmds[key])= key
    
    div.modal.fade#screenModal(role="dialog")
      div.modal-dialog.modal-lg(role="document")
        div.modal-content
          div.modal-body
            img(src="/printScreen")
          div.modal-footer
            button(type="button", data-dismiss="modal").btn.btn-default
              | Close
    div.modal.fade#liveModal(role="dialog")
      div.modal-dialog.modal-lg(role="document")
        div.modal-content
          div.modal-body
            div#screen(style="width:960px; height:540px ")
          div.modal-footer
            button(type="button", data-dismiss="modal").btn.btn-default
              | Close
    
    
    script(type="text/javascript" src="jquery/dist/jquery.min.js")
    script(type="text/javascript" src="bootstrap/dist/js/bootstrap.min.js")
    script(type="text/javascript" src="socket.io.js")
    script(type="text/javascript").
      var socket = io();
      $('#commandSearch').keyup(function(){
        $('#cmds li').removeClass('btn-warning')
        if ($('#commandSearch').val() !== '')
          $('#cmds li:contains("' + $('#commandSearch').val().toUpperCase() + '")').addClass('btn-warning');
      });
      
      $('#commandChannel').keyup(function(){
        $('#sidebar-wrapper li').hide();
        if ($('#commandChannel').val() !== '')
          $('#sidebar-wrapper li:contains("' + $('#commandChannel').val() + '")').show();
        else
          $('#sidebar-wrapper li').show();
      });
      
      
      $('#cmds li').click(function(){
        $.get('run/' + $(this).data('cmd')).done(function(resp){
          updateInfo();
          console.debug(resp);
        });
      });
      
      $('#sidebar-wrapper ul').on('click', 'li', function(){
        $.post('channels', $(this).data('channel')).done(function(resp){
          updateInfo();
          console.debug(resp);
        });
      });
      
      $.get('channels').done(function(resp){
        var channels = resp.envelope.data;
        for(var i = 0; i < channels.length; i++){
          var cha = channels[i];
          var li = $('<li>');
          li.addClass('btn-link');
          li.data('channel', {
            chname: cha.chname[0],
            major: cha.major[0],
            sourceIndex: cha.sourceIndex[0],
            physicalNum: cha.physicalNum[0],
            displayMajor: cha.displayMajor[0],
            minor: cha.minor[0],
            displayMinor: cha.displayMinor[0],
          });
          li.text(cha.displayMajor[0] + 
          '.' + 
          cha.displayMinor +
          ' - ' + 
          cha.chname[0]
          );
          $('#sidebar-wrapper ul').append(li);
        }
      });
      $('#screenModal').on('show.bs.modal', function (e) {
        $('#screenModal img').attr('src', $('#screenModal img').attr('src'));
      })
      
      $('#liveModal').on('show.bs.modal', function (e) {
        socket.emit('play');
      });
      
      $('#liveModal').on('hide.bs.modal', function (e) {
        socket.emit('stop');
      });
      
      socket.on('canvas', function(data){
        $('#liveModal #screen').css('background', 'transparent url(data:image/jpeg;base64,'+data+') top left / 100% 100% no-repeat');
      });
      
      function updateInfo(){
        $.get('info').done(function(info){
          $('#volume .progress-bar').attr('aria-valuenow', info.volume[0].level[0]);
          $('#volume .progress-bar').attr('aria-valuemax', info.volume[0].maxLevel[0]);
          $('#volume .progress-bar').attr('aria-valuemin', info.volume[0].minLevel[0]);
          $('#volume .progress-bar').css('width', info.volume[0].level[0] + '%');
          $('#volume .progress-bar').text(info.volume[0].level[0] + '%');
          
          $('#channel').text('Channel: ' + info.channel[0].major[0] + '.' + info.channel[0].minor[0] + ' - ' + info.channel[0].chname[0]);
        });
      }
      
      setInterval(updateInfo, 100);
